* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.pre-loader {
    background-color: #63d471;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    /* background-color: linear-gradient(315deg, #63d471 0%, #233329 74%); */
}

video {
    position: fixed;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
    opacity: .75;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

form {
    background-color: #228B22;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    padding: 2rem;
    box-shadow: 0px 0px 20px #0f0;
}

form h2 {
    color: white;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 2rem;
}

form input {
    background-color: transparent;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
}

form button {
    background-color: transparent;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0f0;
    box-shadow: 0px 0px 20px #0f0;
}

::-webkit-input-placeholder {
    color: white;
}

.login-option {
    background-color: #228B22;
    box-shadow: 0px 0px 20px #0f0;
    margin-top: 5rem;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 10px;
}

.login-option span {
    color: white;
    margin: 0 2rem;
}

.login-option a {
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}


.login-option a:hover {
    color: black;
    background-color: #0f0;
    box-shadow: 0px 0px 20px #0f0;
}

.error-message {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    color: red;
    letter-spacing: 1px;
}

